@import url("https://fonts.googleapis.com/css2?family=Delius&family=Nunito:wght@400;600;700&display=swap");

:root {
  font-family: 'Nunito', sans-serif;
  color: #2e3a4b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9f7f4;
}